<a href="https://colab.research.google.com/github/shireen-7/AI-ASSISTED-LAB/blob/main/ailab7_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

TASK1: Syntax Error in Conditionals

In [ ]:
a=10
if a=10:
  print("Equal")

error:
The error in the code is that the assignment operator = is used in the if condition instead of the equality operator ==.

Modified code:

In [7]:
a=10
if a == 10:
  print("Equal")

Equal

TASK2: Loop Off-By-One Error

In [ ]:
def sum_upto_n(n):
  total=0
  for i in range(1,n):
    total+=i
  return total

error:

The error in the code is that the range(1, n) excludes n, leading to an off-by-one error. To include n in the sum, the range should be range(1, n + 1).

modified code:

In [9]:
def sum_upto_n(n):
  total=0
  for i in range(1, n + 1):
    total+=i
  return total

print(sum_upto_n(5))

15

TASK 3: AttributeError

In [ ]:
class User:
  def __init__(self,name):
    self.name=name

u=User("ALICE")
print(u.getName())

error:

he error in the code is an AttributeError because the method getName() is not defined in the User class.

modified code:

In [10]:
class User:
  def __init__(self,name):
    self.name=name

  def getName(self):
    return self.name

u=User("ALICE")
print(u.getName())

ALICE

TASK4:

Incorrect Class Attribute Initialization

In [ ]:
class Car:
  def start():
    print("Car started")
mycar= Car()
mycar.start()

error:
The error in the code is a TypeError. The start method in the Car class is defined without the self parameter, which is required for instance methods to refer to the instance of the class. I will modify the code to add the self parameter.

modified code:

In [12]:
class Car:
  def start(self):
    print("Car started")
mycar= Car()
mycar.start()

Car started

TASK5: Conditional Logic Error in Grading System

In [ ]:
def grade_student(score):
  if score < 40:
    return "A"
  elif score < 70:
    return "B"
  else:
    return "C"

error:
there is a logical error in the code

Modified code:

In [16]:
def grade_student(score):
  if score < 40:
    return "A"
  elif score < 70:
    return "B"
  else:
    return "C"

print(grade_student(50))

B